.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Layout */
.container {
  background-color: rgb(9, 255, 0);
  background-image: url('./images/autoBack.jpg');
  display: flex;
  height: 100vh ;
  width: 100vh - 40px;
  overflow: hidden;
  margin-left: 40px;
  background-size: 100% auto;

}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;  /* Small width when collapsed */
  height: 100%;
  background: #333;
  color: #333;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-image: url('./images/metal.jpg');
  background-size: 100% auto no-repeat;
}

.sidebar.open {
  left: 0; /* Slide in when open */
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.sidebar nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap; /* Prevent text from wrapping */
}

.sidebar nav a:hover {
  background-color: #444;
}

/* Close Button */
.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  align-self: flex-end;
}

/* Main Content */
.content {
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 20px;
  margin-left: 30px;
  transition: margin-left 0.3s ease-in-out;
}

.contentBackground {
  position: "absolute";
  width: "100%";
  height: "100%";
  background-size: "cover";
  background-position: "center";
  background-repeat: "no-repeat";
  opacity: 0.5;
  background-image: url('./images/metal.jpg');
  background-size: 100% auto;
}

.menu-btn {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

.sidebar:hover{
  width: 300px;
  color: white;
}

.sidebar:hover ~ .content {
  margin-left: 300px;
}

.sidebar:hover ~ .container {
  margin-left: 300px;
}

.slideshow {
  position: relative;
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 24px;
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out;
}

.fullSlideshow {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.fullSlide {
  width: 100%;
  height: 100%;
  background: #0f1a41;
  color: white;
  font-size: 24px;
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out;
  background-image: url('./images/polished.png');
  background-size: 100% auto;
  padding: 1%;
}

.controls {
  margin-top: 10px;
}



button:hover {
  background-image: url('./images/metal.jpg');
  background-size: 100% auto;
  color: aqua;
}

.sidebarItem {
  cursor: pointer;
}


button{
  text-align: center;
  color: navy;
  background-image: url('./images/Steel.jfif');
  background-size: 100% auto;
  font-size: 1.1em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  margin:2px;
  border-radius: 20px;
  padding:1vh;
  font-weight: bold;
  border-color: silver;
  text-shadow: #61dafb;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(122, 2, 2, 0.5); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(114, 9, 9); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #570505a6; 
}

.listContainer{    
  overflow-y: scroll;
  padding:'10px';
}

.slideImage {
  object-fit: cover;
}

.backgroundClass {
  background-image: url('./images/rust.jpg');
  background-size: 100% auto;
  margin:2px;
  border-radius: 20px;
  padding:1vh;
  font-weight: bold;
  border-color: silver;
}

.textHeader{
  background-image: url('./images/rust.jpg');
  background-size: 100% auto;
  text-align: center;
  color: silver;
  font-size: 1.1em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  margin:2px;
  border-radius: 20px;
  padding:1vh;
  font-weight: bold;
  border-color: silver;
  text-shadow: 1px 1px 2px navy;
}

.textContent{
  text-align: center;
  color: navy;
  background-image: url('./images/polished.png');
  background-size: 100% auto;
  font-size: 1.1em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  margin:2px;
  border-radius: 20px;
  padding:1vh;
  font-weight: bold;
  border-color: silver;
  text-shadow: 1px 1px 2px silver;
  overflow-y: scroll;
}

.rowC{display:flex; flex-direction:row;}

.innerText{
  text-align: center;
  color: navy;
  background-image: url('./images/polished.png');
  background-size: 100% auto;
  font-size: 1.1em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  margin:2px;
  border-radius: 20px;
  padding:1vh;
  font-weight: bold;
  border-color: silver;
  text-shadow: #61dafb;
}

.Videos{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.fill img {

  width: 100%;
  height: 100%;
}